<div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 18px; line-height: 1.8; background:#E27D60; color: #eee; max-widht: 712px;">
  {{{ body }}}
  {{> footer }}
</div>
